<div class="jumbotron">
    <div class="container">
        <form class="form-inline">
            <div class="form-group pull-left">
                <label for="name"><i class="fa fa-user-circle fa-lg fa-fw"></i></label>
                <input type="text" class="form-control" id="name" placeholder="Alex Jones">
                &nbsp; &nbsp; 
            </div>
            
            <div class="form-group pull-left">
                <label for="message"><i class="fa fa-comment fa-lg fa-fw"></i></label>
                <input type="text" class="form-control" id="message" placeholder="Type message... press enter to send" [(ngModel)]="message" name="message" (keyup.enter)="sendMessage()">
            </div>
        </form>
    </div>
</div>

<footer class="footer">
    <p><a href="http://mnmlist.com/uncopyright-and-a-minimalist-mindset/" target="_blank" style="color: #555;"><u>uncopyright</u></a> &nbsp;•&nbsp; <i class="fa fa-hand-peace-o"></i> &nbsp;•&nbsp; crafted by <u><a href="http://xavierduncan.com" target="_blank" style="color: #555;">xavier duncan</a></u></p>
</footer>





