<div class="container" *ngIf="(user | async)?.uid">
  <nav class="navbar ">
    <div class="navbar-brand">
      <a class="navbar-item" href="http://rocket.xavierduncan.com">
        <span class="icon">
          <img src="../../assets/rocket.png" alt="RocketChat: Fast. Powerful. Secure.">
        </span>
        &nbsp; RocketChat
      </a>

      <a class="navbar-item is-hidden-desktop" href="https://github.com/xduncan" target="_blank">
        <span class="icon" style="color: #333;">
          <i class="fa fa-github"></i>
        </span>
      </a>

      <a class="navbar-item is-hidden-desktop" href="https://twitter.com/thewebsitekid" target="_blank">
        <span class="icon" style="color: #55acee;">
          <i class="fa fa-twitter"></i>
        </span>
      </a>

      <a class="navbar-item is-hidden-desktop" (click)="logout()">
        <span class="icon" style="color: red;">
          <i class="fa fa-ban fa-fw"></i>
        </span>
        &nbsp;
        <span>End</span>
      </a>
    </div>

    <div class="navbar-end is-hidden-touch">
      <a class="navbar-item" href="https://github.com/xduncan" target="_blank">
       <span class="icon" style="color: #333;">
          <i class="fa fa-github"></i>
        </span>
      </a>
      <a class="navbar-item" href="https://twitter.com/thewebsitekid" target="_blank">
        <span class="icon" style="color: #55acee;">
          <i class="fa fa-twitter"></i>
        </span>
      </a>
      <a class="navbar-item" (click)="logout()">
        <span class="icon" style="color: red;">
          <i class="fa fa-ban fa-fw"></i>
        </span>
        &nbsp;
        <span>End</span>
      </a>
    </div>
  </nav>
</div>

<section class="section" *ngIf="(user | async)?.uid">
  <div class="container">
    <div class="box" id="chat-container" *ngIf="(user | async)?.uid">
        <p *ngFor="let item of items | async">{{item.message}}</p>
    </div>

    <div class="field has-addons">
      <div class="control has-icons-left is-expanded">
        <input autofocus required class="input is-info" type="text" id="message" *ngIf="(user | async)?.uid" placeholder="Chat here..." (keyup.enter)="Send($event.target.value)" [(ngModel)]="msgVal">
        <span class="icon is-small is-left">
          <i class="fa fa-comments-o"></i>
        </span>
      </div>
      <div class="control">
        <button class="button is-info">
          <i class="fa fa-rocket fa-fw"></i>
          <span class="is-hidden-mobile"> &nbsp; Send</span>
        </button>
      </div>
    </div>
  </div>
</section>